html, body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;
}


.content {
    background-color: #ffffff;
    /* height: 2000px; */
}

#header-navbar {
    margin: 0;
    background: linear-gradient(to right, rgba(54, 111, 255, .75), rgba(226, 73, 216, .75));
    border-radius: 0;
    border: none;
}

#header-navbar .top-header {
    margin: 0;
    padding: 5px 10px;
}

.brand {
    color: white;
    font-size: 2em;
    cursor: pointer;
}

.subtitle {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #f3f3f3;
    float: left;
    clear: both;
    margin-left: 20px;
    margin-bottom: 10px;
}

#header-navbar ul.nav.navbar {
    -webkit-transition: all 1.5s ease;
    transition: all 1.5s ease;
    padding: 5px 0;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-fixed-top {
    height: 0;
}

#header-navbar ul.nav {
    margin: 0;
    padding: 0;
    background: transparent;
}

#header-navbar ul.nav li {
    margin: 0;
    padding: 0;
}

#header-navbar ul.nav li a{
    color: white;
}
#header-navbar ul.nav li.active a {
    font-weight: bold;
    background-color: transparent;
    color: white;
}


.content {
    margin: 0;
}

#main {

}

#hero-image{
    position: relative;
    background: url("/images/coffeeshop.png") center no-repeat;
    height: 400px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 20px;
}

#hero-image .subtitle {
    color: white;
    float: none;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.images-panel {
    margin-top: 25px;
    margin-bottom: 25px;
}

.images-panel .image-column {
    padding: 25px; 
/*     padding-top: 25px;
    padding-bottom: 25px; */
}

.images-panel .image-column img{
    box-shadow: 3px 3px 3px #ddd;
}

.selectedImage,
.description-row {
    padding: 10px;
    /* background-color: rgba(50, 50, 75, 0.5); */
}

.description-row {
    color: white;
    background: linear-gradient(to right, rgba(54, 111, 255, .5), rgba(226, 73, 216, .5));
    border-radius: 10px;
    /* border: 2px solid #ddd; */
}

.selectedImage{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;        
    /* border-radius: 4px 4px 0px 0px; */
    background-color: rgba(255, 255, 255, 0.75);
    padding-top: 70px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}


.projects h3,
.projects h4 {
    color: #555;
    font-family: 'Open Sans Condensed', sans-serif;
    /*font-family: 'PT Sans', sans-serif;*/
    text-align: center;
}

.projects h3 {
    font-size: 3em;
    font-weight: 600;
    margin-top: 20px;
    padding-bottom: 6px;
    /*border-bottom: 1px solid #555;*/
}

.projects h4 {
    font-size: 2.5em;
}

.projects .group {
    margin-top: 20px;
    margin-bottom: 50px;
}

.projects .project {
    margin-bottom: 25px;
}

.project-images {
    text-align: center;
}

.project-image {
    display: inline-block;
    padding: 5px;
    width: 140px;
    height: 140px;
}

.project-image img {
    width: 140px;
    height: 140px;
    /*object-fit: contain;*/
    border-radius: 50%;
}

@media(max-width: 768px){ /* phones */
    #hero-image {
        height: 200px;
        background: url("/images/coffeeshop-small.png") center no-repeat;
    }
}